{{ define "page" }}
<h1>Adam Czerepinski - Bio</h1>
<div class="bio">
    <picture class="image image--portrait" data-photo-credit="Paulius Musteikis">
        <img src="{{ .CDN }}/static/images/adam_three_instruments.jpg" alt="adam seated next to a keyboard and bass guitar, holding a trumpet">
    </picture>
    <article>
        <p>Adam Czerepinski was born and raised on the east side of Madison, WI, and after twenty years living on the east coast, once again calls Madison home.</p>
        <p>Proficient as a multi-instrumentalist, Adam is a versatile keyboard and bass player, and one of the ok-est trumpet players in town.</p>
        <p>
            As a teenager, Adam attended the prestigious Berklee College of Music on a full scholarship.
            After receiving his bachelor's degree in Jazz Composition he continued his studies at the Manhattan School of Music where he earned a master's degree in Jazz Trumpet and a Doctor of Musical Arts in Jazz Arts Advancement.
        </p>
        <p>Adam is also an accomplished programmer, and his software engineering resume <a href="/resume">can be found here</a>.</p>
    </article>
</div>
{{ end }}