{{ define "page" }}
  <h1 class="index-title">{{ .PageTitle }}</h1>
  {{ $prefix := .PathPrefix }}

  {{ if len .Filters }}
  <ul class="filters">
  {{ range .Filters }}
    <li class="">
      <a href="{{ .Path }}">
        <span class="filter filter--{{ .Status }} {{ .Name }}">{{ .Name}} </span>
      </a>
    </li>
  {{ end }}
  </ul>
  {{ end }}
  <ul class="vertical-list">
  {{ range .Posts }}
    <li class="vertical-list__item">
      <div class="row">
        {{ if ne .FilePath "" }}
        <div class="download-icon">
          <a href="{{ .FilePath }}">🎼</a>
        </div>
        {{ end }}
        <a href="{{ $prefix }}{{ .Slug }}" class="blog-link">{{ .Title }}</a>
        <div class="tags">
          {{ range .Tags }}
            <span class="tag {{ . }}">{{ . }}</span>
          {{ end }}
        </div>
      </div>
      <div class="row summary">
        {{ .Summary }}
      </div>
   </li> 
  {{ end }}
  </ul>
{{ end }}