{{ define "page" }}
  <h1 class="show-title">{{ .Post.Title }}</h1>
  <div class="show-meta">
    <div class="summary">
      {{ .Post.Summary }}
    </div>
    <div class="tags">
      {{ range .Post.Tags }}
        <span class="tag {{ . }}">{{ . }}</span>
      {{ end }}
    </div>
  </div>

  {{ if ne "" .Post.YouTubeLink }}
  <div class="youtube-embed">
    <iframe width="672" height="378" src="{{ .Post.YouTubeLink }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  {{ end }}

  {{ if ne "" .Post.SoundCloudID }}
    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ .Post.SoundCloudID }}&amp;color=004819&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
  {{ end }}

  {{ .Post.Body }}

  {{ if .MoreLikeThis }}
  <h5 class="list-heading">More Posts Like This:</h5>
  <div class="card-list">
    {{ $prefix := .PathPrefix }}
    {{ range .MoreLikeThis }}
    <a href="{{ $prefix }}{{ .Slug }}" class="card">
      <div class="card__title">{{ .Title }}</div>
      <div class="card__tags tags">
        {{ range .Tags }}
        <span class="tag {{ . }}">{{ . }}</span>
        {{ end }}
      </div>
    </a>
    {{ end }}
  </div>
  {{ end }}
{{ end }}