<!DOCTYPE html>
  <head>
    <title>{{ .MetaTitle }}</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&family=Slabo+27px&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css?v={{ .Version }}" type="text/css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <nav class="nav">
      <div class="nav__logo">
        <a class="logo--square" href="/">
          <picture>
            <img src="{{ .CDN  }}/static/images/logo_512.png" alt="adam czerepinski three instrument logo">
          </picture>
        </a>
      </div>
      <div class="nav__links">
        <a href="/bio">
          About
        </a>
        <a href="/photos">
          Photos
        </a>
        <a href="/music">
          Music
        </a>
        <a href="/calendar">
          Calendar
        </a>
      </div>
    </nav>

    <main class="main">
      {{ template "page" . }}
    </main>
  </body>
  <script src="/static/seriouslyVeryLittle.js?v={{ .Version }}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      console.log("initting");
      hljs.initHighlightingOnLoad();
    });
  </script>
</html>