<!DOCTYPE html>
  <head>
    <title>{{ .MetaTitle }}</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro|Oswald -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700|Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css?v={{ .Version }}" type="text/css">
  </head>
  <body>
    <nav class="nav">
      <div class="nav__logo">
        <a href="/">Adam Czerepinski</a>
      </div>
      <div class="nav__links">
        <a href="/resume">
          Resume
        </a>
        <a href="/music">
          Music
        </a>
        <a href="/blog">
          Tech
        </a>
      </div>
    </nav>

    <main class="main">
      {{ template "page" . }}
    </main>
  </body>
  <script src="/static/seriouslyVeryLittle.js?v={{ .Version }}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      console.log("initting");
      hljs.initHighlightingOnLoad();
    });
  </script>
</html>