{{ define "page" }}
<h1>Adam Czerepinski - Photos</h1>
<section class="photo-grid">
    <picture class="image image--landscape" data-photo-credit="Kristin Shafel">
        <img src="{{ .CDN }}/static/images/adam_baldwin_piano.jpg" alt="adam playing the piano">
    </picture>
    <picture class="image image--landscape" data-photo-credit="Kristin Shafel">
        <img src="{{ .CDN }}/static/images/adam_hands.jpg" alt="closeup of adam's hands on the piano">
    </picture>
    <picture class="image image--portrait" data-photo-credit="Paulius Musteikis">
        <img src="{{ .CDN }}/static/images/adam_three_instruments_smiling.jpg" alt="adam standing next to a keyboard and bass guitar, holding a trumpet">
    </picture>
    <picture class="image image--landscape" data-photo-credit="Paulius Musteikis">
        <img src="{{ .CDN }}/static/images/adam_light_portrait.jpg" alt="adam headshot against a light background">
    </picture>
    <picture class="image image--landscape" data-photo-credit="Paulius Musteikis">
        <img src="{{ .CDN }}/static/images/adam_playing_piano.jpg" alt="adam playing the electric piano">
    </picture>
    <picture class="image image--portrait" data-photo-credit="Paulius Musteikis">
        <img src="{{ .CDN }}/static/images/adam_dark_portrait.jpg" alt="adam headshot against a dark background">
    </picture>
    <picture class="image image--portrait" data-photo-credit="Paulius Musteikis">
        <img src="{{ .CDN }}/static/images/adam_three_instruments.jpg" alt="adam seated next to a keyboard and bass guitar, holding a trumpet">
    </picture>
</section>
{{ end }}