{{ define "page" }}
<div class="resume">
  <h1>Adam Czerepinski</h1>
  <h2>Software Engineer</h2>
  <div class="contact-info">
    <div><span>adamcz</span><span>xyz</span><span>@hey.com</span><span>.org</span></div>
  </div>

  <h3>Summary</h3>
  <p>I'm a software engineer with experience translating business requirements and objectives into fully-realized solutions. I build web applications, services, and APIs with robust test coverage, carefully considered architectures, and empathy for the end user.</p>

  <h3>Languages</h3>
  <p>Ruby, Go, Elixir, JavaScript, others</p>

  <h3>Frameworks, Libraries, Other Skills</h3>
  <p>Rails, PostgreSQL, Redis, Sidekiq, Phoenix, React, Cobra, Git, Bash, Docker, HTML, CSS, Test Driven Development, Application Monitoring (DataDog, AppSignal, etc), Project Leadership</p>

  <h3>Experience</h3>
  <h4>Evidation Health - Remote</h4>
  <h5>Senior Software Engineer L4, April 2023 - April 2025</h5>
  <h5>Senior Software Engineer L3, March 2021 - April 2023</h5>
  <p>Evidation is a health-tech startup that facilitates health research outside of clinic settings, using person-generated data. I worked primarily on the backend team, with Ruby on Rails, PostgreSQL, Sidekiq, Redis and Minitest.
    I also contributed to the rest of the stack which includes React and cloud services (AWS) provisioned via Pulumi/Golang.
  </p>

  <h4>America's Test Kitchen - Boston, MA (Hybrid/Remote)</h4>
  <h5>Senior Software Engineer, March 2020 - March 2021</h5>
  <h5>Software Engineer, March 2018 - March 2020</h5>
  <h5>Associate Software Engineer, May 2016 - March 2018</h5>
  <p>At America's Test Kitchen, I built and maintained a portfolio of cooking websites, including americastestkitchen.com, cookscountry.com, cooksillustrated.com, and onlinecookingschool.com. The tech stack included Go, JavaScript, Ruby/Rails, Elixir/Phoenix, React/Redux, PostgreSQL, NGINX, Memcached, Redis.</p>

  <h4>Geisel Software, Inc. - Shrewsbury, MA</h4>
  <h5>Software Engineer, August 2015 - April 2016</h5>
  <p>Geisel Software is a consultancy specializing in Internet of Things & embedded development. I primarily worked for a client that was developing an IoT device in the healthcare space. I developed a web application used to administer and support their devices (PHP/Codeigniter/MySQL), and contributed to the device's touch screen UI (Python/Flask/JavaScript).</p>

  <h3>Education</h3>
  <h4>Manhattan School of Music - New York, NY</h4>
  <h5>Doctor of Musical Arts, Jazz Arts Advancement</h5>
  <h5>Master of Music, Jazz Performance</h5>
  
  <h4>Berklee College of Music - Boston, MA</h4>
  <h5>Bachelor of Music, Jazz Composition</h5>
</div>
{{ end }}