body {
  /* colors */
  --gold: #dfbe7d;
  --grey: #333;
  --legaleseGrey: #aaa;
  --lightGrey: #efefef;

  /* fonts */
  --oswald: 'Oswald', sans-serif;
  --slabo: 'Slabo 27px', serif;

  /* measurements */
  --navHeight: 5rem;
}

html, div, span, input, textarea {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  color: var(--grey);
  font: 300 3rem var(--oswald);
  text-align: center;
  text-transform: uppercase;
}

p {
  font: 400 1.8rem var(--slabo);
  line-height: 1.6;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  color: var(--grey);
  text-decoration: none;
}

a:hover {
  color: var(--gold);
}

.contact-info {
  display: none;
}

.main {
  margin: var(--navHeight) auto;
  max-width: 80rem;
  padding-top: 2rem;
}

.home {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.bio {
  display: flex;
  padding-top: 2rem;
}

@media(max-width: 800px) {
  .bio {
    align-items: center;
    flex-direction: column;
  }
  .bio picture {
    width: 300px;
  }
}

article {
  padding: 1rem;
  text-align: center;
}

.resume h1 {
  color: var(--grey);
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.resume h2 {
  font-size: 2.4rem;
  margin-bottom: 4rem;
  text-align: center;
}

.resume h4 {
  color: var(--grey);
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.resume h5 {
  color: black;
  font: 400 1.7rem var(--oswald);
  margin-bottom: 1rem;
}

.resume p {
  margin-bottom: 3rem;
  margin-top: .5rem;
}

.index-title {
  color: var(--grey);
  font: 600 3rem var(--oswald);
  margin-bottom: 3rem;
  text-align: center;
  text-transform: uppercase;
}

.show-title {
  color: var(--grey);
  font: 700 3rem var(--oswald);
  margin-bottom: .5rem;
  text-align: center;
}

.show-meta {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.show-meta .summary {
  margin-bottom: 1rem;
}

.tag-list {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  height: 3.5rem;
  margin-top: 0.5rem;
}

.tags {
  margin-left: 1rem;
}

.tag {
  background-color: var(--grey);
  color: white;
  font: 300 1rem var(--oswald);
  letter-spacing: 1px;
  margin-right: .5rem;
  padding: .4rem;
  position: relative;
  text-transform: initial;
}

.tag.go {
  background-color: #6ed7e1;
}

.tag.elixir {
  background-color: #584364;
}

.tag.phoenix {
  background-color: #f46f37;
}

.tag.ruby {
  background-color: #b31301;
}

.tag.javascript {
  background-color: #f0da50;
}

.tag.piano {
  background-color: #222;
}

.tag.bass {
  background-color: #b16554;
}

.tag.drums {
  background-color: #3f2f1a;
}

.tag.flugelhorn {
  background-color: #9a968f;
}

.tag.trumpet {
  background-color: var(--gold);
}

.logo--square {
  display: flex;
  height: 90%;
  width: auto;
}

.logo--square img {
  height: 100%;
  width: auto;
}

.nav {
  background-color: var(--lightGrey);
  border-bottom: 2px solid var(--grey);
  display: flex;
  height: var(--navHeight);
  justify-content: space-between;
  left: 0;
  padding: 0.25rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.nav__links, .nav__logo {
  align-items: center;
  display: flex;
  flex-basis: 75%;
  justify-content: flex-end;
}

.nav__links a, .nav__logo {
    font: 600 2rem var(--oswald);
    margin-right: 2rem;
    text-transform: uppercase;
    transition: .1s ease-in-out;
}

@media(max-width: 800px) {
  .nav__links a, .nav__logo {
    font-size: 1.4rem;
    margin-right: 1.4rem;
  }
}

.nav__logo {
  align-items: center;
  display: flex;
  flex-basis: 25%;
  justify-content: flex-start;
  max-width: 25%;
  text-transform: uppercase;
}

.vertical-list__item {
  margin-bottom: 3rem;
  text-align: center;
  text-transform: uppercase;
}

.row {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
}

.date, .address {
  color: var(--grey);
  font: 600 1.4rem var(--oswald);
  margin: 0 0.5rem;
  text-transform: none;
}

.medium {
  font-size: 1.4rem;
}

.bold {
  color: var(--grey);
  font-family: var(--oswald);
  font-weight: 700;
}

.event {
  border: 2px solid var(--lightGrey);
  padding: 1rem;
}

.summary {
  font: 300 1.6rem var(--slabo);
  text-transform: initial;
}

.blog-link {
  border-bottom: 1px solid var(--grey);
  font: 600 1.4rem var(--oswald);
  text-transform: uppercase;
}

.blog-link:hover {
  border-bottom: 1px solid var(--gold);
}

.youtube-embed {
  margin-bottom: 3rem;
  margin-top: 1rem;
  text-align: center;
}

.list-heading {
  font: 700 1.6rem var(--oswald);
  margin-top: 4rem;
}

.card-list {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.card {
  align-items: center;
  border: 2px solid var(--lightGrey);
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 1rem;
  max-width: 30rem;
  padding: 1rem;
}

.card__title {
  font: 400 1.2rem var(--oswald);
  text-transform: uppercase;
}

.card__tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.card__tags .tag {
  margin-top: 0.25rem;
}

.card:hover {
  border: 2px solid var(--grey);
}

pre {
  font-family: var(--sourceCode);
}

code.hljs, code span {
  font: 400 1.6rem var(--sourceCode);
}

code.inline {
  background-color: var(--cream);
}

.photo-grid {
  align-items: flex-end;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.photo-grid picture {
  margin-bottom: 2rem;
}

.photo-grid .image--portrait {
  height: auto;
  width: 300px;
}

.photo-grid .image--landscape {
  height: auto;
  width: 400px;
}

.photo-grid .image--portrait img {
  width: 100%;
}

.photo-grid .image--landscape img {
  height: 100%;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
}

.image-title {
  color: var(--grey);
  font: 600 4rem var(--oswald);
  line-height: 3rem;
  margin-bottom: .3rem;
  text-transform: uppercase;
}

.image-subtitle {
  color: var(--grey);
  font: 300 2rem var(--oswald);
  text-transform: uppercase;
}

.image {
  display: flex;
  flex-direction: column;
}

.image::after {
  content: 'Photo Credit: ' attr(data-photo-credit);
  color: var(--legaleseGrey);
  font: 300 1.2rem var(--oswald);
  margin-top: 3px;
  text-transform: uppercase;
}

.image--portrait {
  height: 600px;
  max-width: 2000px;
}

.image--landscape {
  width: 800px;
}

img {
  object-fit: contain;
  width: 100%;
}

@media(max-width: 800px) {
  .image--landscape {
    max-width: 500px;
  }

  .image--portrait {
    width: 400px;
    height: auto;
  }
}

@media(max-width: 400px) {
  .image--landscape {
    max-width: 300px;
  }

  .image-title {
    font-size: 3rem;
  }
}

/*
Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #002b36;
  color: #839496;
}

.hljs-comment,
.hljs-quote {
  color: #586e75;
}

/* Solarized Green */
.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color: #859900;
}

/* Solarized Cyan */
.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
  color: #2aa198;
}

/* Solarized Blue */
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #268bd2;
}

/* Solarized Yellow */
.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: #b58900;
}

/* Solarized Orange */
.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  color: #cb4b16;
}

/* Solarized Red */
.hljs-built_in,
.hljs-deletion {
  color: #dc322f;
}

.hljs-formula {
  background: #073642;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

@media(max-width: 400px) {
  .blog-link, .summary {
    font-size: 1.4rem;
  }

  .vertical-list__item .tags {
    margin-left: 0.25rem;
  }

  .vertical-list__item .tag {
    font-size: 0.8rem;
    margin-right: 0.1rem;
    padding: 0.2rem;
  }
}

@media print {
  * {
    color: black !important;
  }

  nav.nav {
    display: none;
  }

  main.main {
    padding-top: initial;
  }

  .resume h2 {
    margin-bottom: 1rem;
  }

  .contact-info {
    display: flex;
    font: 700 2.5rem var(--ubuntu);
    justify-content: center;
    margin-bottom: 1rem;
  }

  .contact-info:last-of-type {
    margin-bottom: 2rem;
  }

  .contact-info span:nth-child(even) {
    display: none;
  }
}